main {
  margin-top: 5vh;
}

.search__container {
  width: 60%;
  margin: 0 auto;
}

.results__container {
  margin: 0 auto;
  max-width: 70%;
}

.types__container {
  display: flex;
  gap: 10px;
}

.pokemon__type {
  border: 1px solid rgb(182, 182, 182);
  background-color: rgb(106, 106, 106);
  color: #fff;
  border-radius: 999px;
  padding: 2px 5px;
  font-weight: 600;
}

.sprite-image {
  margin: auto;
  width: 40%;
}

.favorites__container {
  margin: 0 auto;
  max-width: 70%;
}

.pokemon__name {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding-bottom: 0;
}

.pokemon__name > .name {
  flex-grow: 1;
}

@media only screen and (max-width: 768px) {
  .search__container {
    width: 90%;
  }
  .favorites__container,
  .results__container {
    max-width: 100%;
  }
}